{% if latest_movie_list %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA1 Backend </title>
    <meta name="description" content="">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>

    <!-- header hero block -->
    <header class="hero-block hero-block-js">
        <div class="hero-text-container">
            <h1>Movies Listing </h1>
        </div>
    </header>
    <!-- main content with sections -->
    <main id="main">
        <ul style="padding: 0; margin: 0;">
            {% for movie in latest_movie_list %}
            <div style="display: inline-block;">
                <li style="height: 250px; width: 200px; list-style: none;">
                    <a href="{% url 'polls:detail' movie.id %}">
                        <img src="{{ movie.image }}" alt="{{ movie.title }}" style="max-height: 200px; max-width: 200px;">
                        <h2>
                          {% if movie.title|length <= 21 %}
                            {{ movie.title }}
                          {% else %}
                            {{ movie.title|slice:":17" }}...
                          {% endif %}
                        </h2>
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </main>


</body>
</html>





