{% if latest_movie_list %}
{% load static %}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA1 Backend </title>
    <meta name="description" content="">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>

    <!-- header hero block -->
    <header class="hero-block hero-block-js">
        <div class="hero-text-container">
            <h1>Movies Listing </h1>
        </div>
    </header>
    <!-- main content with sections -->
    <main id="main">
        <ul>
            {% for question in latest_movie_list %}
                <div>
                   <a  href="{% url 'polls:detail' movie.id %}">
                       <h2>{{ movie.title }}</h2>
                    </a>
                </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </main>


</body>
</html>






