        /* ============ Header Colours =============*/
        header.hero-block-js { background-color: #f7df1e }
        header.hero-block-js h1 { color: #222 }
        header.hero-block-js h2 { color: var(--gray-700) }

        /* Main Colours */

        main {
            background:#f8d7da;
        }
        .theme-js .col-2 { background-color: var(--green-100) }
        .theme-js h3 { color: #222 }
        .theme-js p { color: #222 }

        /* Button Colours: passive state */
        .theme-js a.btn { 
            color: #fff; background-color: blue; transition: 0.2s;
            border-radius: 6px
        }

        .theme-js a.btn { background-image: linear-gradient(to right,#e052a0,#f15c41) } 
        .theme-js a.btn:hover { filter: brightness(140%) saturate(140%) } 

        /* ========= ENDS CUSTOM CSS FOR WEB PAGE ======= */

        #search-bar {
            width: 100%;
            background: rgb(38, 39, 38);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ccc;
            text-align: center;
            padding: 20px 0;
        }

        #search-bar h1 {
            margin: 0 20px;
            color: #fff;
        }

        #search-bar a {
            text-decoration: none;
        }

        #search-bar form {
            display: flex;
            align-items: center;
        }

        #search {
            width: 230px;
            border: 1px solid black;
            outline: none;
            border-radius: 20px;
            padding-left: 15px;
            padding: 10px 20px;
            font-size: 16px;
        }

        main {
            display: flex; 
            flex-direction: row; flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
        }

        /* Desktops/Laptops */
        @media (min-width: 1200px) { 
            main { 
                padding: 3.5% calc((100% - 1140px)/2) 5% calc((100% - 1140px)/2); 
                margin: 0 auto;
            } 
        }

        /* Tablets and smaller desktops */
        @media (min-width: 1025px) and (max-width: 1199px ) { 
            main { padding: 3% 14% 3% 14% } 
        }

        /* Tablets */
        @media (min-width: 768px) and (max-width: 1024px) { 
            main { padding: 4% 5% 4% 5% }
        }

        /* Larger mobiles */
        @media (min-width: 400px) and (max-width: 767px)  { 
            main { padding: 7% 13% 8% 13% }
        }

        /* Smaller mobiles */
        @media (max-width: 399px) { 
            main { padding: 7% 10% 8% 10% } 
        }

        main div {
            margin: 19px 15px;
            background: #FF0000;
        }

        main div:hover {
            background:#FFCCCB;
        }

        @media (min-width: 768px) {
            main > div { width: 22% }
        }

        @media (max-width: 767px) {
            main > div { width: 100%; margin: 20px 0 }
        }

        main img {
            width: 100%;
            height: 89%;
            object-fit: cover;
        }
        main h2 {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            padding: 12px;
        }
        main p {
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            padding: 12px;
        }
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
